<md-content layout="row" layout-padding layout-align="center center">
    <md-card flex="40">
        <form name="signin">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Weather App - Sign IN</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content layout="column">
                <md-input-container flex>
                    <label>Login</label>
                    <input type="text" name="login" ng-model="si.model.login" required>
                    <div ng-messages="signin.login.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="si.model.password" required>
                    <div ng-messages="signin.password.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Email</label>
                    <input type="email" name="email" ng-model="si.model.email" required>
                    <div ng-messages="signin.email.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary" ng-click="si.goToSignUp()">Sign UP</md-button>
                <md-button class="md-raised md-primary" ng-click="si.signIn()"
                           ng-disabled="signin.$invalid">
                    Sign IN
                </md-button>
            </md-card-actions>
        </form>
    </md-card>
</md-content>
